<div class="loader<% if (typeof hideLoader !== 'undefined' && hideLoader) { %> hide<% } %>" id="loader">
  <div class="loader__logo">
    <span class="ring"></span>
    <img src="/brand/ecs-shield-cream.svg" alt="ECS" />
  </div>
  <div class="loader__lines">
    <p><span class="pr">$</span>Initializing secure connection...</p>
    <p><span class="pr">$</span>Loading threat intelligence...</p>
    <p><span class="pr">$</span>ECS ready.</p>
  </div>
</div>
